!!!
html
  head
    title doc.io
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topbar
      .fill
        .container
          a(class='brand', href='#') doc.io
          ul(class='nav')
            li(class='active')
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
            li
              a(href='#register') Register
    .container
      .hero-unit
        h1 doc.io
        p Sign up now for the sexiest, realtime, collaborative document editor.  Built using node for the server-side environment, express for a high-level webserver, redis for a hot in-memory session store, and couch for persistent document storage - we have a robust stack ready to scale to any magnitude.
        p
          a(class='btn primary large') Register &raquo;
      .row
        .span-one-third
          h2 Heading
          p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          p
            a(class='btn', href='#') View Details &raquo;
        .span-one-third
          h2 Heading
          p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a(class='btn', href='#') View Details &raquo;
        .span-one-third
          h2 Heading
          p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          p
            a(class='btn', href='#') View Details &raquo;
      footer
        p &copy; Company 2011