!!!
html
  head
    title doc.io
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .topbar
      .fill
        .container
          a(class='brand', href='#') doc.io
          ul(class='nav')
            li(class='active')
              a(href='#') Home
            li
              a(href='#register') Register
    .container
      form(id='registerForm', method='post', action='/register', class='form-stacked')
        fieldset
          legend Personal
          .clearfix
            label First Name
            .input
              input(class='span3', id='firstName', name='firstName', type='text')
            br
            label Last Name
            .input
              input(class='span3', id='lastName', name='lastName', type='text')
        fieldset
          legend Account
          .clearfix
            label Email
            .input
              input(class='span4', id='email', name='name', type='email')
            br
            label Password
            .input
              input(class='span4', id='password', name='password', type='password')
            br
            label Confirm Password
            .input
            input(class='span4', id='confirmPassword', name='confirmPassword', type='password')
          .actions
            input(type='submit', class='btn primary', value='Register')